.input-element {
  min-width: 150px;
  height: auto;
  padding: 5px;
  outline: 2px solid rgba(67, 86, 255, 0.7);
  border-radius: 3px;
  border: none;
  line-height: 1;
  transition: all 0.1s ease;
  cursor: text;
}

.input-element:focus {
  outline: 2px solid rgba(67, 86, 255, 1);
  box-shadow: 0 0 10px rgba(67, 86, 255, 0.3);
}
